*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	vertical-align: baseline;    
}

body{
	font-size: 100%;
	list-style-type: none;
	line-height: 1;
}

html, body  {
	height: 100%;
	width: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
